<section class="w-50 mx-auto">
  <form
    action="/login"
    method="POST"
    class="border border-secondary rounded form"
  >
    <h1 class="text-center my-8">Login Here</h1>
    <div class="mb-3">
      <label for="Username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="Username"
        aria-describedby="emailHelp"
        name="username"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</section>
