* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #5433ff;
  background: -webkit-linear-gradient(to left, #a5fecb, #20bdff, #5433ff);
  background: linear-gradient(to left, #a5fecb, #20bdff, #5433ff);
}

#container {
  /* border: 1px solid #ccc; */
  width: 80vw;
  height: 80vh;
  margin: 50px auto;
}

#greet {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 1px 2px #20bdff;
}

#container header {
  display: flex;
  justify-content: space-between;
}

#todoicon {
  /* position: relative;
  left: 50px; */
  margin-left: 50px;
}

#date {
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  text-shadow: 2px 3px #5433ff;
}

#container main {
  margin: 100px auto;
}

#input-div {
  position: relative;
  left: 270px;
}

#input {
  width: 300px;
  position: relative;
  height: 30px;
  border-radius: 5px;
  padding-left: 15px;
}

#input:focus {
  outline: none;
}

#addTaskBtn {
  display: inline-block;
  padding: 4px 15px;
  margin-left: 25px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
}

#addTaskBtn:hover {
  color: #20bdff;
  background-color: #fff;
}

#addTaskBtn:active {
  outline: none;
}

#tasks {
  position: relative;
  top: 30px;
  left: 80px;
  width: 100%;
}

.task {
  background-color: #fff;
  width: 70%;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #a5fecb;
  box-shadow: 1px 2px #20bdff, 1px 2px #a5fecb;
  margin-top: 10px;
}

.task input {
  margin: 13px 0 0 50px;
}

.task p {
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 30px;
  color: #21136b;
}

#btndiv {
  display: inline-block;
  float: right;
  margin-top: 3px;
  margin-right: 20px;
}

.task button {
  display: inline-block;
  padding: 3px 10px;
  margin-left: 30px;
  color: #21136b;
  border: 2px solid #fff;
  background-color: transparent;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
}
